{% extends 'base.html' %} {% block title %} About {% endblock %} {% block
content %}

<div class="container p-5" align="center" style="font-size: large">
  <p>
    <b>Developed by:</b><br />
    Suryash Kumar Jha & Anshika Mittal<br />
    Maharaja Agrasen Institute of Technology<br />
    4th Year IT<br />
  </p>
</div>
<footer align="center">
  <a href="https://github.com/suryash-jha" target="_blank"
    ><b>Github-Suryash</b></a
  >
  |
  <a href="https://github.com/anshikamittal7" target="_blank"
    ><b>Github-Anshika</b></a
  >
</footer>
{% endblock %}
